*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Silkscreen' , cursive;
}
body{
    height: 100vh;
    background-image: linear-gradient(to right , #5fd5b0 0%, #bdc6c7 52% , #565257);
}

#calculator{
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: black;
    width: 20vw;
    height: 70vh;

}
.input{
    width: 20vw;
    font-size: 5vh;
    color: white;
    text-align: right;
    height: 15vh;
    padding: 0 2rem;
    padding-top: 5vh;
}
.line{
    padding: 0 1rem;
    height: 10vh;
}

button{
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5rem;
    width: 4vw;
    height: 9vh;

}

.gray-bg{
    background-color: #a4a7a8;
}

.yellow-bg{
    color: white;
    background-color: rgb(164, 133, 31);
}

.dark-gray-bg{
    color: white;
    background-color: #313131;
}

.zero{
    width: 8.5vw;
}
